<!doctype html>
<html ng-app="NextTramOptions" ng-csp>
  <head>
    <title>Options - Next Tram</title>
     <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="vendor/pnotify/pnotify.custom.min.css">
     <link rel="stylesheet" type="text/css" href="css/main.css">
     <style >
     	.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
     	ul.ng-hide{
     		display: none !important;
     	}
     </style>
  </head>
  <body>
	<div class="container"  ng-controller="OptionsController">
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header">Next Tram <small>Options</small></h1>

				<p>For adding new Connections, click on "<i>New Connection</i>"</p>

				<p>
					<button class="btn btn-default" ng-click="form_show=true;connection={};lastEditIndex=null"><span class="glyphicon glyphicon-plus"></span> New Connection</button>
				</p>

				<div class="row">
					<div class="col-md-6">
						<form novalidate name="connection_form" ng-submit="saveConnection()" ng-show="form_show">
							<div class="form-group">
						     	<input type="text" class="form-control" name="connection_from" 
						     	ng-model="connection.from"
						     	placeholder="From" 
						     	typeahead="station for station in getStation($viewValue)" 
						     	typeahead-wait-ms="100" required >
						     	<span ng-show="connection_form.connection_from.$invalid" class="help-block">required</span>
							  </div>
							  <div class="form-group">
							    <input type="text" class="form-control" name="connection_to" placeholder="To" 
							    ng-model="connection.to" 
						     	typeahead="station for station in getStation($viewValue)" 
						     	typeahead-wait-ms="100" required>
						     	<span ng-show="connection_form.connection_to.$invalid" class="help-block">
						     	required</span>
							  </div>
							  <div class="form-group">
							    <input type="number" class="form-control" name="connection_timeToStation" placeholder="Time to Station" 
							    ng-model="connection.timeToStation" required>
						     	<span ng-show="connection_form.connection_timeToStation.$invalid" class="help-block">
						     	must be a number</span>
						     	<p class="help-block">This time will be added to the departure times, so you can leave on time.</p>
							  </div>
							  
							  <!-- <div class="form-group">
							    <select type="text" class="form-control" id="product" placeholder="Product">
									<option value="">--- no product ---</option>
							    </select>
							  </div>-->
							  <div class="form-group">
							      <button ng-disabled="connection_form.$invalid" type="submit" class="btn btn-primary">Save</button>
							      <button ng-click="form_show=false" type="button" class="btn btn-danger">Cancel</button>
							      <span class="help-block">It can take some time till the connections will shown</span>
							  </div>
							  <!-- <p>From: {{connection.from}} To{{connection.to}}, leaving {{connection.timeToStation}} minutes earlier.</p> -->
						</form>
						
						<table class="table table-striped table-responsive">
							<thead>
								<tr>
									<th>From</th>
									<th>To</th>
									<th>Minutes to station</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="connection in options.connections track by $index">
									<td>{{connection.from}}</td>
									<td>{{connection.to}}</td>
									<td>{{connection.timeToStation}}</td>
									<td><button class="btn btn-default" tooltip="Edit connection" ng-click="editConnection($index,connection)"><span class="glyphicon glyphicon-pencil"></span></button> <button class="btn btn-default" tooltip="Remove connection" ng-click="removeConnection(connection)"><span class="glyphicon glyphicon-remove"></span></button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

    <script src="vendor/underscore/underscore-min.js"></script>
    <script src="vendor/moment/moment-with-locales.min.js"></script>
    <script src="vendor/jquery/jquery-1.11.2.min.js"></script>
    <script src="vendor/pnotify/pnotify.custom.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="vendor/angular.uuid/angular-uuid2.min.js"></script>
    <script src="js/angular-chrome-storage/angular-chrome-storage.js"></script>
    <script src="js/services/OpenDataService.js"></script>
    <script src="js/services/OptionsService.js"></script>
    <script src="js/appOptions.js"></script>
    <script src="js/options.js"></script>
  </body>
</html>

