<!doctype html>
<html ng-app="NextTram" ng-csp>
  <head>
    <title>Next Tram</title>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="configuration pull-right">
            <a href="options.html" class="btn btn-primary btn-xs" target="_blank">options <span class="glyphicon glyphicon-wrench"></span></a> 
          </div>
          <h3 class="page-header">Next Tram</h3>
          <div ng-controller="PageController">
            <div ng-hide="setupRequired">
              <p>
                <select class="form-control" ng-model="selectedConnectionID" ng-options="connection.id as connection.from for connection in connections">
                </select>
                {{selectedConnection}}
              </p>
              <p>
                <b>From:</b> {{optionsFrom}}<br/>
                <b>To:</b> {{optionsTo}}<br/>
                <b>Time to Station:</b> {{optionsTimeToStation}}<br/>
              </p>
              <div class="well">
                Next in <b>{{nextConnText}}</b> ({{nextConnection.from.departure| date:'dd.MM.yyyy: HH:mm'}})<br/>
                with <span product-list products="nextConnectionProducts"></span>
              </div>

              <p>
                <b>Further connections:</b>
              </p>
              <table class="table table-striped table-condensed table-responsive">
                <thead>
                  <th>Departure</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr ng-repeat="connection in localConnections track by $index">
                    <td>{{connection.from.departure| date:'dd.MM.yyyy HH:mm'}}</td>
                    <td><span product-list products="connection.products"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="alert alert-info" ng-show="setupRequired">
              No connection set up. Please go to <a href="options.html" target="_blank" class="alert-link">options</a> an catch up.
            </div>
          </div>
          <div ng-controller='TimeController'>
              <p>{{ clock  | date:'dd.MM.yyyy HH:mm:ss'}}</p>
          </div>
          
        </div>
      </div>
    </div>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="vendor/moment/moment-with-locales.min.js"></script>
    <script src="vendor/angular.uuid/angular-uuid2.min.js"></script>
    <script src="vendor/underscore/underscore-min.js"></script>
    <script src="js/angular-chrome-storage/angular-chrome-storage.js"></script>
    <script src="js/services/TimetableService.js"></script>
    <script src="js/services/OpenDataService.js"></script>
    <script src="js/services/OptionsService.js"></script>
    <script src="js/directives/ProductListDirective.js"></script>
    <script src="js/app.js"></script>
    <script src="js/popup.js"></script>
  </body>
</html>

